<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{text-align: center;}
        p{text-align: center;
        color: red;}
        div{text-align: center;
        color: blue;}
        


     </style>




</head>
<body>
<h1>

<font color="Brown" style="center" > <h1>Customer Churn Prediction</h1></font>
<div>
<form  method="POST" action="/predict">

<br><label style= "color:black;"> Age </label><br>
<input type="text" name="age"><br>


<br><label for="gender">Gender</label><br>
<select name="gender" id="gender" style="width:200px;">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select><br>



<br><label for="location">Location</label><br>
<select name="location" id="location" style="width:200px;">
    <option value="Miami">Miami</option>
    <option value="Chicago">Chicago</option>
    <option value="New York">New York</option>
    <option value="Los Angeles">Los Angeles</option>
    <option value="Houston">Houston</option>
</select><br>

<br><label> Month</label><br>
<input type="text" name="month"><br>

<br><label> Bill</label><br>
<input type="text" name="bill"><br>




<br><label> GB </label><br>
<input type="text" name="gb"><br>




<input type ="submit"><br>





















</div>

</h1>
</form>

    
</body>
</html>